Linear-Regression/Linear-Regression.ipynb
Movie_Dataset/
Chemical_Segrigation/Training Data.zip
Chemical_Segrigation/Logistic_Y_Train.csv
Chemical_Segrigation/Logistic_X_Train.csv
bayes_theorem/mushrooms.csv
Decision_Tree/titanic_train.csv
Feature_Selection_Extraction/PCA/mnist_test.csv
Feature_Selection_Extraction/PCA/mnist_train.csv
Linear-Regression/Data
NLP
NLP_IMDB/IMDB Dataset.csv
Image_Segmentation/image1.jpg
neural_networks/Pokemon_Challenge/dataset
neural_networks/Pokemon_Challenge/Temp
neural_networks/CNN/athar.jpg